[color]
	ui = true
[core]
	editor = vim
[alias]
	co = commit
	lg = log --color --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim blue)<%an>%C(reset)' --all
	st = status
	ch = checkout
	br = branch
  	dtree = diff-tree -r --no-commit-id --name-status --text --diff-filter=ACDMRT
  	lgst = log --color --graph --stat
[user]
	name = Nick
	email = nick.lin@patriotmemory.com
